body{
    background-color: #26426b;
    background-position: center;
    background-size: cover;
    overflow: auto;
}

.navbar{
    background-color: #0E3152;
    border-radius: 30px;
    position: sticky;
    margin-left: 90px;
    margin-top: 20px;
}    

.image{
    height: 80px;
    position: absolute;
    margin-top: 0px;
}


.navbar ul{
    overflow: auto;
}
.navbar li{
    float: left;
    list-style: none; 
    margin: 13px 20px;
    
}
.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}
.navbar li a:hover{
    color: orange;
}    
   
.image_file{
    size: 40px;
    margin-left:40px;
    margin-top: 150px;
    position: absolute;
    border-radius: 40%;
}

.container{
    width: 200px;
    background-color: #0E3152;
    border-radius: 10px;
    text-decoration: azure;
    height: 40px;
    margin:auto;
    
}

.container p{
    color:white;
    font-size: large;
    text-align: center;
    padding-top: 9px;
}

.content{
    overflow: auto;
}

.content ul{
    color: azure;
}

.content ul li{
    padding-bottom: 10px;
    font-size: larger;
}

.footer{
    background-color: #0E3152;
    height: 50px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;   
}    

.footer p{
    padding-left: 40px;
    padding-bottom: 10px;
    position: absolute;
    color:aliceblue;
}

.insta{
    height: 30px;
    float: right;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-right: 40px;
}

.twitter{
    float: right;
    padding-left: 20px;
    padding-bottom: 5px;;
    padding-top: 10px;
    padding-right: 40px;
    height: 30px;
}

.facebook{
    height: 30px;
    float: right;
    padding-left: 20px;
    padding-top: 10px;;
    padding-bottom: 5px;
    padding-right: 40px;
    height: 30px;
}

.linkediln{
    height: 20px;
    float: right;
    padding-left: 20px;
    padding-top: 10px;;
    padding-bottom: 5px;
    padding-right: 40px;
    height: 30px;
}
